.two-columns {
    width: 100%;
    flex-flow: row wrap;
    overflow-x: hidden;

    > div {
        width: 50%;
    }

    &__text {
        background-color: $white;
        padding: 6.25em;
        font-size: 1.5rem;

        p {
            color:$darkGreyBlue;
            font-size: 20px;
            font-weight: 600;
            line-height: 34px;
        }

        &.bottom {
            text-align: center;
            color: $darkBlue;
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
            background-color: $medCyan;
            height: 26.375em;

            h1 {
                font-size: 1.75rem;
                padding-top: 8.125em;
                line-height: 0.65em;
            }

            p {
                font-size: 0.675em;
                max-width: 350px;
                margin: 0 auto;
                line-height: 1.75em;
            }

            &--left {
                background-image: url("../../images/desktop/image-graphic-design.jpg");
            }
            &--right {
                background-image: url("../../images/desktop/image-photography.jpg");
            }
        }
    }

    &__image > img {
        width: 100%;
        height: 100%;
    }
}

.testimonial {
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    align-items: center;
    padding: 4em 0;
    padding-bottom: 6em;
    max-width: 1100px;
    margin: 0 auto;

    h1 {
        flex-basis: 100%;
        text-transform: uppercase;
        letter-spacing: 4px;
        font-size: 1.25em;
        color: $greyBlue;
        padding: 2.75em;
    }

    &__clientbox {
        display: flex;
        justify-content: space-between;

        .client {
            width: 30%;
            text-align: center;

            &__image > img {
                border-radius: 50%;
                width: 90px;
            }

            &__text {
                p {
                    color: $darkGreyBlue;
                    line-height: 2em;
                }
            }

            &__designation {
                p {color: $greyBlue;}
            }
        }
    }
}

.gallery {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    overflow: hidden;

    &__image {
        width: 25%;
        max-height: 440px;

        > img {
            width: 400px;
            height: auto;
        }
    }
}