html {
    font-size: 100%;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}


h1,h2,h3,h4,h5,h6 {
    font-family: 'Fraunces', serif;
    font-weight: 900;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Barlow', sans-serif;
    line-height: 1.3;
    max-width: 1920px;
    margin: 0 auto;
}

.flex {
    display: flex;

    &-jc-sb{
        justify-content: space-between;
    }

    &-ai-c{
        align-items: center;
    }
}

// visibility
.desktop-visible {
    @include breakpoint-down(medium) {
        display: none;
    }
}

.mobile-visible {
    @include breakpoint-up(large) {
        display: none;
    }
}
