

$mobile: 23.4375rem; //375px
$desktop: 90rem; //1440px

// ## Colors

// ### Primary
$softRed: hsl(7, 99%, 70%);
$yellow: hsl(51, 100%, 49%);
$darkCyan: hsl(167, 40%, 24%);
$darkBlue: hsl(198, 62%, 26%);
$medCyan: hsl(198, 62%, 26%);

// ### Neutral
$darkBlue: hsl(212, 27%, 19%);
$darkGreyBlue: hsl(213, 9%, 39%);
$medDarkGreyBlue: hsl(232, 10%, 55%);
$greyBlue: hsl(210, 4%, 67%);
$white: hsl(0, 0%, 100%);

// ## Typography

// ### Body Copy
$font-size: 1.125em; //18px
